In [1]:
import pandas as pd
import ast

df=pd.read_csv('bera_transactions_data.csv')

# Convert string representations to actual lists
df['token_ids'] = df['token_ids'].apply(ast.literal_eval)
df['token_amounts'] = df['token_amounts'].apply(ast.literal_eval)

# Explode 'token_ids' and 'token_amounts'
df_exploded = df.explode(['token_ids', 'token_amounts'])
df_exploded.to_csv('exploded.csv')

In [2]:
token_data=pd.read_csv('berachain_token_names.csv',header=None)
token_data=token_data
token_data

                      0
0       Bong Bear Baron
1   Bong Bear Brigadier
2   Boo Bear Benefactor
3      Baby Bear Backer
4     Band Bear Booster
..                  ...
64       Real World Bee
65        Honey Bluffer
66         Bee Attendee
67       Shell Survivor
68        Questing Cubs

[69 rows x 1 columns]

In [3]:
number_of_tokens=df_exploded[['token_ids','token_amounts']].groupby(by='token_ids').sum()
number_of_tokens=pd.merge(left=number_of_tokens,right=token_data,left_index=True,right_index=True)
number_of_tokens.reset_index(inplace=True)
number_of_tokens.columns=['token_id','token_amounts','NFT']
number_of_tokens.sort_values(by='token_amounts',ascending=False)

    token_id  token_amounts                      NFT
23        27          64274         Paws Of Approval
20        24          62984           Tundra Trekker
30        36          60963     Jani's Missing Badge
29        35          60276      Yeetard Certificate
22        26          58842           Renegade Raver
31        39          51115           Dumb and Angry
33        42          49582              Choose Bera
28        34          48678           Chivalry Crest
34        44          48325             Mibera Demon
25        29          39402       Apiology Architect
32        41          36654          Crescent Canopy
13        15          30273             Tweet Scribe
24        28          20953        Visionary Voucher
15        17          20167             Meme Artisan
19        23          18257             Cub Initiate
27        33          18103             Ramen Regent
26        30          17272         Pudgy Ooga Booga
6          6           7235      Honeycomb Harvester
21        25           6686         Honeybowl Punter
9          9           5668  Platinum Partner Patron
35        45           3613           Meme Maker 420
36        46           2415       Honey Hive Hypeman
7          7           2019             Jar Guardian
12        12           2001  Allied Partner Advocate
0          0           1516          Bong Bear Baron
11        11           1424  Silver Partner Sentinel
5          5            480        Bit Bear Beginner
16        18            377      Inverse Bera Banter
10        10            301    Gold Partner Guardian
4          4            253        Band Bear Booster
3          3            111         Baby Bear Backer
18        21             87              Henlo Frame
17        20             64             Super Settor
8          8             43     Infinity Gatekeeper
2          2             41      Boo Bear Benefactor
1          1             27      Bong Bear Brigadier
14        16              7              Bot Exposer

In [4]:
number_of_tokens.to_csv('token_distribution.csv')

In [5]:
print('badges_holders:',df_exploded['user_address'].nunique())
print('badges_minted:',df_exploded['token_amounts'].sum())

badges_holders: 88018
badges_minted: 740488

In [6]:
unique_address=pd.DataFrame(df_exploded['user_address'].unique())
unique_address.columns=['user_address']
unique_address.to_csv('unique_users.csv')
unique_address.shape

(88018, 1)